/*
 * @Author: Peak Xin 
 * @Date: 2020-05-14 16:10:36 
 * @Last Modified by: Peak Xin
 * @Last Modified time: 2020-05-14 16:28:53
 */
// less
@charset "utf-8";

.navbar {
    border: 0;
    margin: 0;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.navbar-default {
    background-color: #fff;
}
.navbar-brand {
    padding: 4px 15px;
}
.banner {
    margin-top: 50px;
}
.footer {
    background-color: #313131;
    padding: 10px 0;
    a {
        color: #0a89ea;
    }
    .copyright {
        color: #a4a4a4;
        text-align: center;
    }
    
}
.target-fix {// 暗锚，让它滚动上来的时候在实际位置的基础上向下偏移50px，和你设置的nav高度一致即可
    position: relative;
    top: -50px; // 偏移值
    display: block;
    visibility: hidden; //不让它展示
}
